<%= form_with(model: [@restaurant, @comment], class: "edit needs-validation", novalidate: "novalidate") do |form| %>
<h5>Add a comment</h5>
<div class="form-group">
  <%= form.label :body, class: "d-none" %>
  <%= form.text_area :body, class: "form-control", id: :comment_body %>
  <div class="invalid-feedback">
    <%= comment.errors.full_messages_for(:body).first %>
  </div>
</div>

  <div class="actions">
    <%= form.submit "Post", :class => "btn btn-primary" %>
  </div>
<% end %>
