<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Address</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.cuisine %></td>
        <td><%= "#{restaurant.street_address}, #{restaurant.city},
          #{restaurant.state}  #{restaurant.postcode}" %></td>
        <td>
          <% unless @votes.include? restaurant.name %>
            <%= button_to vote_restaurant_path(restaurant, :split => 'will_split'),
                  {class: "hvr-icon-bob hvr-shutter-out-horizontal", method: :put} do %>
              <i class="fas fa-thumbs-up hvr-icon"></i>
              <%= restaurant.will_split %><br> Will Split
            <% end %>
        </td>
        <td>
            <%= button_to vote_restaurant_path(restaurant, :split => 'wont_split'),
                  class: "hvr-icon-hang hvr-shutter-in-horizontal ", method: :put do %>
              <i class="fas fa-thumbs-down hvr-icon"></i>
              <%= restaurant.wont_split %><br> Won't Split
            <% end %>

          <% else %>
            <%= button_tag '#', {class: "disabled will", disabled: true} do %>
              <i class="fas fa-thumbs-up"></i>
              <%= restaurant.will_split %><br> Will Split
            <% end %>
        </td>
        <td>
            <%= button_tag '#', {class: "disabled wont", disabled: true} do %>
              <i class="fas fa-thumbs-down"></i>
              <%= restaurant.wont_split %><br> Won't Split
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
