<% if notice %>
<aside id="notice" class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Oops</h4>
  <p class="mb-0"><%= notice %></p>
</aside>
<% end %>
<%= content_tag(:h1,"#{@restaurant.name}") %>

<div>
  <% unless @votes.include? @restaurant.name %>
    <%= link_to vote_restaurant_path(@restaurant, :split => 'will_split'),
          {class: "hvr-icon-bob hvr-shutter-out-horizontal btn btn-md", method: :put} do %>
      <i class="fas fa-thumbs-up hvr-icon"></i>
      <%= @restaurant.will_split %><br> Will Split
    <% end %>

    <%= link_to vote_restaurant_path(@restaurant, :split => 'wont_split'),
          class: "hvr-icon-hang hvr-shutter-in-horizontal btn btn-md", method: :put do %>
      <i class="fas fa-thumbs-down hvr-icon"></i>
      <%= @restaurant.wont_split %><br> Won't Split
    <% end %>

  <% else %>
    <%= link_to '#', {class: "disabled will btn btn-md btn-outline-success", disabled: true} do %>
      <i class="fas fa-thumbs-up"></i>
      <%= @restaurant.will_split %><br> Will Split
    <% end %>

    <%= link_to '#', {class: "disabled wont btn btn-md btn-outline-primary", disabled: true} do %>
      <i class="fas fa-thumbs-down"></i>
      <%= @restaurant.wont_split %><br> Won't Split
    <% end %>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @restaurant.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @restaurant.postcode %>
</p>

<p>
  <strong>Will split:</strong>
  <%= @restaurant.will_split %>
</p>

<p>
  <strong>Wont split:</strong>
  <%= @restaurant.wont_split %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', :back %>
