<!DOCTYPE html>
<html>
  <head>
    <title>SplitTheCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-ciphE0NCAlD2/N6NUApXAN2dAs/vcSAOTzyE202jJx3oS8n4tAQezRgnlHqcJ59C" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <strong class="mr-auto">
        The best places to eat, when you don't want to treat!</strong>
      <span class="navbar-text pull-right mr-lg-0">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>
          <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
        <% end %>
      </span>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <h2><%= link_to 'SplitTheCheck', clear_path, class: "text-white nav-link" %></h2>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"  aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item h5">
            <%= link_to 'Home', clear_path, class: "nav-link" %>
          </li>
          <li class="nav-item h5" >
            <%= link_to 'Add a Restaurant', new_restaurant_path, class: "nav-link" %>
          </li>
        </ul>

          <%= form_tag(restaurants_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
            <%= text_field_tag :search, params[:search], size: 15, placeholder: "Restaurant name or city", class: "form-control mr-sm-2" %>
            <%= submit_tag 'Search', class: "btn btn-secondary my-2 my-sm-0" %>
          <% end %>
      </div>

    </nav>
    <section class="content">

      <% flash.each do |key, value| %>
      <aside class="<%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading"><%= key.capitalize %></h4>
        <p class="mb-0"><%= value %></p>
      </aside>
      <% end %>

      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>

  </body>
</html>
